@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&family=Sora:wght@100;300;400;600&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  color: #212112;
  @apply font-default;
}

.page-wrapper {
  margin: 0 auto;
  max-width: 569px;
  width: 100%;
  display: grid;
  grid-template-columns: 100%
}

.btn-green {
  @apply bg-green-500 rounded-lg  text-white  py-2 px-4;
}

.input {
  @apply rounded-lg border border-gray-200 p-2 bg-white;
  height: 40px;
}

.box-limited {
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-color: #eee transparent;
  scrollbar-width: thin !important;
  
}

.box-limited::-webkit-scrollbar {
  width: 4px;
}

/* Track */
.box-limited::-webkit-scrollbar-track {
  background: transparent;
}


/* Handle */
.box-limited::-webkit-scrollbar-thumb {
  background: #eee;
  border-radius: 6px;
}

/* Handle on hover */
.box-limited::-webkit-scrollbar-thumb:hover {
  background: #eee;
  border-radius: 6px;
}
